.features {
  padding-top: 94px;
}
.features-box {
  display: flex;
}
.features-box__list {
  width: 270px;
  height: 251px;
  margin-right: 30px;
}
.features-box__list {
  &:last-child {
    margin-right: 0px;
  }
}
.features-icon {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: $background-color-team;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.features-box__title {
  color: $title-text-color;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}
