.hero {
  background-color: $background-color-hero;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0px;
  background-image: linear-gradient(to right, $background-image-hero, $background-image-hero),
    url(../images/img1.jpg);
}
.hero__title {
  color: $primery-wite-color;
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero__button {
  color: $primery-wite-color;
  background-color: $accent-color;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin: auto;
  margin-top: 30px;
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: $animation;
  &:hover,
  &:focus {
    color: $primery-wite-color;
    background-color: $accent-color-hover-button;
  }
}
