.portfolio {
  @media (max-width: 1199px) {
    padding-top: 60px;
  }
  padding-top: 94px;
}
.section__menu {
  @media (max-width: 767px) {
    margin-bottom: 40px;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    // margin-bottom: -15px;
    justify-content: flex-start;
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 30px;
  }
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.section__nav {
  @media (max-width: 767px) {
    margin-bottom: 15px;
  }
  margin-left: 8px;
}
.section__nav {
  &:nth-child(3n + 1) {
    margin-left: 0px;
  }
}
.section__nav {
  &:nth-last-child(-n + 2) {
    margin-bottom: 0px;
  }
}

.section__button {
  color: $title-text-color;
  background-color: $background-color-team;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  font-family: inherit;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  cursor: pointer;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: $animation;
  &:hover,
  &:focus {
    color: $primery-wite-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section__cards {
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;

    margin-bottom: 0;
    padding-left: 0;
    margin-top: 0;
    max-width: 450px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    margin-top: -30px;
    margin-left: -30px;
  }
  // @media (max-width: 1199px) {
  //   padding-bottom: 60px;
  // }
  margin-top: -30px;
  margin-left: -30px;
  padding-bottom: 94px;
}
.cards__item {
  @media (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
  @media (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .cards__link {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: $animation;
  }
}
.cards__imag {
  position: relative;
  overflow: hidden;
}
.cards__picture {
  display: block;
  max-width: 100%;
}
.cards-aside {
  position: absolute;
  width: 100%;
  // height: 294px;
  .cards__link:hover,
  :focus & {
    transform: translateY(-100%);
  }
}
.cards__cards-aside {
  transform: translateY(0%);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms $animation;
}
.cards-aside__text {
  color: $primery-wite-color;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
}
.cards__description {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.cards__title {
  color: $title-text-color;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  // letter-spacing: 0.03em;
}
.cards__text {
  color: $primery-text-color;
  font-size: 16px;
  line-height: 1.9;
}
