.team {
  background-color: $background-color-team;
  @media (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

// background-color: $background-color-team;
// font-size: 16px;
// line-height: 1.19;
// padding-top: 94px;
// padding-bottom: 94px;

.title {
  color: $title-text-color;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  @media (max-width: 1199px) {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: calc(33 / 28);
  }
  @media (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}
.card-set {
  @media (max-width: 767px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  @media (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    justify-content: center;
  }
  @media (min-width: 1200px) {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  // display: flex;
  // margin-top: 50px;
}

.card-set__item {
  // margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: $primery-wite-color;

  @media (min-width: 768px) and (max-width: 1199px) {
    max-width: 354px;
    margin: 15px;
    width: calc((100% - 4 * 15px) / 2);
  }
  @media (min-width: 1200px) {
    max-width: 270px;
  }
  @media (max-width: 767px) {
    margin-bottom: 30px;
    max-width: 450px;
  }
}
@media (min-width: 1200px) {
  .card-set__item:not(:last-child) {
    margin-right: 30px;
  }
}
.card-set__img {
  @media (min-width: 320px) {
    max-width: 100%;
  }
}
.description {
  padding: 30px 0 16px;
}
.description__title {
  color: $title-text-color;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  text-align: center;
}
.description__text {
  padding-top: 10px;
  text-align: center;
}

.social-team {
  @media (max-width: 1199px) {
    padding-bottom: 24px;
  }

  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
.social-team__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: $icon-color;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition-property: background-color, color, fill;
  transition-duration: 250ms;
  transition-timing-function: $animation;
}
.social-team__link {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-team__link {
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
.social-team__icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: $animation;
  fill: currentColor;
  .social-team__link:hover &,
  .social-team__link:focus & {
    fill: $primery-wite-color;
  }
}
