.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 80px;
  @media (max-width: 767px) {
    height: 60px;
  }
  @media (min-width: 480px) and (max-width: 767px) {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    max-width: 768px;
  }
}

// display: flex;
// justify-content: space-between;
// align-items: center;
// height: 80px;

.header__line {
  border-bottom: 1px solid #eeeeee;
}

.button-open {
  @media (min-width: 768px) {
    display: none;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: auto;
  padding: 0;
  // margin-top: 10px;
  // margin-bottom: 10px;
  border: none;
  fill: #000;
  background-color: transparent;
  cursor: pointer;
}
.button-open__icon {
  fill: $logo-black;
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
.menu {
  @media (min-width: 768px) {
    display: none;
  }
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  padding: 48px 83px 48px 40px;
  background-color: $primery-wite-color;
  outline: 1px solid cornflowerblue;
}
.menu__button-close {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  border: none;
  fill: #000;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding: 0;
  cursor: pointer;
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
.menu__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  // fill: $logo-black;
}
.mob-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.menu__link-content:not(:last-child) {
  margin-bottom: 32px;
}
.menu__site-nav {
  @media (min-width: 320px) {
    font-size: 40px;
  }
  font-weight: 500;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  color: $title-text-color;
  &.current {
    color: #2196f3;
  }
}
.contact-block {
  margin-top: auto;
}
.menu__list--margin-bottom {
  margin-bottom: 64px;
}
.menu__list-contact:not(:last-child) {
  margin-bottom: 32px;
}
.menu__mob-link {
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $accent-color;
}
.menu__mail-link {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $primery-text-color;
}
.social-menu__list {
  display: flex;
  flex-wrap: wrap;
}
.social-menu__link {
  @media (min-width: 480px) {
    font-size: 18px;
  }
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $accent-color;
}
.social__line {
  height: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin: 0 10px 0 10px;
}
