.logo-futer__text {
  color: $primery-wite-color;
  display: block;
  font-style: normal;
  margin-top: 20px;
}
.logo-futer__link {
  color: rgba(255, 255, 255, 0.6);
  display: block;
  font-style: normal;
}
.logo-futer__list {
  padding-top: 9px;
}
.logo-futer__link {
  color: rgba(255, 255, 255, 0.6);
  display: block;
  font-style: normal;
  padding-top: 9px;
}
